<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library android:name="android.test.runner"/>
        <provider android:name="cn.paperpdf.reader.TestTreeProvider"
            android:authorities="cn.paperpdf.reader.testdocs" android:exported="true"/>
    </application>
</manifest>
